apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
  namespace: tienda
type: Opaque
data:
  DB_USER: <BASE64_DE_TU_USUARIO>
  DB_PASSWORD: <BASE64_DE_TU_PASSWORD>
  DB_NAME: <BASE64_DE_TU_BASE_DE_DATOS>